.todo-item {
    display:flex;
    padding: 1rem;
    align-items: center;
    transition: all 0.15s;
    user-select: none;
    cursor: pointer;
}

.todo-item:hover {
    background: #e3fafc;
}

.todo-item:hover .remove {
    opacity: 1;
}

.todo-item + .todo-item {
    border-top: 1px solid #f1f3f5;
}

.remove {
    opacity:0;
    margin-right: 1rem;
    color:#e64980;
    font-weight:600;
}

.todo-text {
    flex: 1;
    word-break: break-all;
}

.checked {
    color: #adb5bd;
    text-decoration: line-through;
}

.check-mark {
    margin-left:1rem;
    color:#3bc9db;
    font-size:1.5rem;
    line-height:1rem;
    font-weight: 800;
}